{% extends "base.html.twig" %}

     {% block title %}ACCUEIL{% endblock %}
      {% block content %} 
     <h1>Bienvenue sur notre page d'accueil</h1>
     <p>je m'appelle {{prenom}} {{nom}}, j'ai {{age}} et voici notre mini blog.</p>
    <div class="card mx-auto" style="width: 18rem;">
  <img src="https://picsum.photos/id/33/500/500" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">la nature</h5>
    <p class="card-text">La nature a mis le bonheur à la portée de tous, il ne faut que savoir le choisir.</p>
    <a href="#" class="btn btn-primary">lire la suite</a>
  </div>
</div>
     
 {% endblock %}
    